.loginform {
    border: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0em 1em 0em 1em;
    //font-variant: small-caps;
    box-shadow: 5px 5px 10px;
};

.login {
    background-color: azure;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}